{% extends "base.html" %}

{% block content %}

<form class="form-fields" method="post">
    <div class="emp-form">
        <div class="emp-form-data ">
            <h3 class="title-header">Sign In</h3>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label(class="input-form-label") }}<br>
                {{ form.email(size=32,class="input-form") }}<br>
                {% for error in form.email.errors %}
                <span class="field-errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label(class="input-form-label") }}<br>
                {{ form.password(size=32,class="input-form") }}<br>
                {% for error in form.password.errors %}
                <span class="field-errors">[{{ error }}]</span>
                {% endfor %}
            </p>


            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>

            <p>{{ form.submit(size=32,class="emp-button") }}</p>

        </div>
    </div>
</form>

<p> <a class="new-user" href="{{ url_for('register') }}">New User? Click to Register!</a></p>

{% endblock %}